.canton-ag{
  background-image: url('13x13/ag.svg')
}
.canton-ar{
  background-image: url('13x13/ar.svg')
}
.canton-ai{
  background-image: url('13x13/ai.svg')
}
.canton-bl{
  background-image: url('13x13/bl.svg')
}
.canton-bs{
  background-image: url('13x13/bs.svg')
}
.canton-be{
  background-image: url('13x13/be.svg')
}
.canton-fr{
  background-image: url('13x13/fr.svg')
}
.canton-ge{
  background-image: url('13x13/ge.svg')
}
.canton-gl{
  background-image: url('13x13/gl.svg')
}
.canton-gr{
  background-image: url('13x13/gr.svg')
}
.canton-ju{
  background-image: url('13x13/ju.svg')
}
.canton-lu{
  background-image: url('13x13/lu.svg')
}
.canton-ne{
  background-image: url('13x13/ne.svg')
}
.canton-nw{
  background-image: url('13x13/nw.svg')
}
.canton-ow{
  background-image: url('13x13/ow.svg')
}
.canton-sg{
  background-image: url('13x13/sg.svg')
}
.canton-sh{
  background-image: url('13x13/sh.svg')
}
.canton-so{
  background-image: url('13x13/so.svg')
}
.canton-sz{
  background-image: url('13x13/sz.svg')
}
.canton-tg{
  background-image: url('13x13/tg.svg')
}
.canton-ti{
  background-image: url('13x13/ti.svg')
}
.canton-ur{
  background-image: url('13x13/ur.svg')
}
.canton-vd{
  background-image: url('13x13/vd.svg')
}
.canton-vs{
  background-image: url('13x13/vs.svg')
}
.canton-zg{
  background-image: url('13x13/zg.svg')
}
.canton-zh{
  background-image: url('13x13/zh.svg')
}
